<div class="blog-details">
    <h1><a href="/api/blogs/{{id}}">{{title}}</h1></a>
    <p>{{body}}</p>
    <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
    </div>
</div>
