<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>

<body>
<nav>
    <div class="site-title">
        <a href="/"><h1>Aiden's Coding Blog</h1></a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
            </li>			
            {{#if logged_in}}
                <li class="nav-item">
                <a class="nav-link bi bi-door-closed-fill" href="/" id="logout">Logout</a>
                </li>	
            {{else}}
                <li class="nav-item">
                <a class="nav-link bi bi-door-open" href="/login">Login</a>
            </li>
            {{/if}}
    </ul>
</nav>

<h1>Welcome: this is attached to the main handlebar!</h1>

<div>{{{body}}}</div>

<script src="/js/logout.js"></script>
</body>
<footer>
    Copyright &copy; Aiden Wahed 2024. Confidential and Proprietary. All rights reserved.
</footer>
</html>
