    <h1>Create a new Blog</h1>
    <button onclick="toggleForm()">Create a new Blog</button>
    <div id="create-form" class="create-forum content" style="display: none;">
        <form action="/api/blogs" method="POST">
            <label for="title">Give your blog a title:</label>
            <input type="text" id="title" name="title" required>
            <label for="body">Write your blog here:</label>
            <textarea id="body" name="body"></textarea>
            <button type="submit">Create</button>
        </form>
    </div>

    {{#if blogs.length}}
    <div class="blog-list">
            <h3 class="text-center patient-list mb-5 fw-bold" style="color: #ff9999">Current Blogs:</h3>
        {{/if}}
        {{#each blogs}}
            {{> blog-details}}
        {{/each}}
    </div>
    <script>
        function toggleForm() {
            var form = document.getElementById("create-form");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }
    </script>
    <script src="./js/dashboard.js"></script>