<style>
    html{
        background-image: none;
    }
</style>
{{!-- create a login page --}}
<div style="display: flex; flex-direction: column; justify-content: center;">
    <h1 style="text-align: center; font-size: 3rem;">Login Page</h1>
    <form action="/api/users/login" method="POST" style="background-color: aquamarine; margin-top: 2rem; display: inline-block; text-align: center;">
        <label for="username">Username:</label>
        <input style="margin-top: 2rem;" type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input style="margin-top: 2rem;" type="password" id="password" name="password" required>
        <br>
        <button style="margin-top: 3rem;" type="submit">Login</button>
        <p style="margin: 2rem;">Don't have an account? <a style="color: red;" href="/signup">Sign up</a></p>
    </form>
</div>
